@page
@model ProjParkNet.Pages.ParkingPage.CreateModel

@{
	ViewData["Title"] = "Admin - Criar Parque";
}

	<h4>Criar Novo Parque</h4>
	<hr />
	<div class="row">
	<div class="col-md-4">
		<form method="post" asp-action="Create" enctype="multipart/form-data">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="NamePark" class="control-label">Nome do Parque</label>
				<input asp-for="NamePark" class="form-control" />
				<span asp-validation-for="NamePark" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Address" class="control-label">Endereço</label>
				<input asp-for="Address" class="form-control" />
				<span asp-validation-for="Address" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="District" class="control-label">Distrito</label>
				<input asp-for="District" class="form-control" />
				<span asp-validation-for="District" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ZipCode" class="control-label">Código Postal</label>
				<input asp-for="ZipCode" class="form-control" />
				<span asp-validation-for="ZipCode" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="TelephoneNumber" class="control-label">Telefone</label>
				<input asp-for="TelephoneNumber" class="form-control" />
				<span asp-validation-for="TelephoneNumber" class="text-danger"></span>
			</div>
			<br/>
			<div class="form-group">
				<label asp-for="PricePerMinute" class="control-label">Valor por minuto</label>
				<input asp-for="PricePerMinute" class="form-control" type="number" />
				<span asp-validation-for="PricePerMinute" class="text-danger"></span>
			</div>
			<br />
			<div class="form-group">
				<label asp-for="MonthlyAgreement" class="control-label">Valor Avença mensal</label>
				<input asp-for="MonthlyAgreement" class="form-control" type="number" />
				<span asp-validation-for="TelephoneNumber" class="text-danger"></span>
			</div>
			<br />
			<div class="form-group">
				<label asp-for="File" class="control-label">Inserir Arquivo </label>
				<input asp-for="File" class="form-control" />
				<span asp-validation-for="File" class="text-danger"></span>
			</div>
			<br/>
			<div class="form-group gap-4">
				<input type="submit" value="Criar" class="btn btn-outline-primary" />
				<a href="/ParkingPage/Index" class="btn btn-outline-danger">Voltar</a>
			</div>
		</form>
		<br/>
		<br/>
	</div>
</div>



@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
